.*
__pycache__
\#*.py\#
.\#*.py
*.pyc
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
.ipynb_checkpoints

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDE 
.vscode

# build folder 
build

# egg
pcntoolkit.egg-info

# Demo folder
HBR_demo

ssh_error_log.txt
HBR_demo/*
dist/pcntoolkit-0.27-py3.11.egg


# Overrule for github folder
!.github

# Basic test functions for SHASH
tests/test_SHASH.ipynb

batch_effects_test.csv
batch_effects.csv
covariates.csv
covariates_test.csv
responses.csv
responses_test.csv
test/resources/save_load_test
test/resources/save_load_test/normative_model_dict.json
test/resources/save_load_test/idata_response_var_1.nc
test/resources/save_load_test/idata_response_var_0.nc
test/resources/hbr/save_load_test/idata_response_var_0.nc
test/resources/hbr/save_load_test/idata_response_var_1.nc
test/resources/hbr/save_load_test_without_idata/normative_model_dict.json
test/resources/hbr/save_load_test/normative_model_dict.json
prof/*
dist/pcntoolkit-0.3-py3.11.egg
examples/resources/*
examples/resources/save_dir/idata_rh_MeanThickness_thickness.nc
examples/resources/save_dir/normative_model_dict.json
examples/resources/save_dir/*
examples/resources 
examples/save_dir/*
examples/sandbox.ipynb
# examples/runner_sandbox.py
examples/runner_sandbox.ipynb

# Sphinx documentation
docs/_build/
docs/autoapi/

test/output/*
!test/output/gitkeep
examples/sandbox.py
examples/sandbox.ipynb
poetry.lock
examples/01_nm_hbr.ipynb
examples/saves/*
pcntoolkit/saves/*
pcntoolkit/saves/plots/*
pcntoolkit/util/plotter.py
examples/cluster_job_test.py
