.*
__pycache__
\#*.py\#
.\#*.py
*.pyc
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
.ipynb_checkpoints

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDE 
.vscode

# build folder 
build

# egg
pcntoolkit.egg-info

# Overrule for github folder
!.github

# Dist folder
dist/pcntoolkit-0.30.post2-py3.12.egg
dist/*
dist
build/*

# docs
doc/autoapi/*
doc/_build/*
docs

# Large files
test/resources/*
!test/resources/.gitkeep
!test/resources/hbr/save_load_test/.gitkeep

test/output/*
!test/output/.gitkeep

examples/resources/*
!examples/resources/data/.gitkeep

prof/*
examples/pcntoolkit_resources/data/*
cspell.json
examples/sandbox_2.ipynb
doc/pages/tutorials/sandbox_2_files/*
doc/pages/tutorials/sandbox_2.rst
