.*
__pycache__
\#*.py\#
.\#*.py
*.pyc
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
.ipynb_checkpoints

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDE 
.vscode

# build folder 
build

# egg
pcntoolkit.egg-info

# Demo folder
HBR_demo

ssh_error_log.txt
HBR_demo/*
dist/pcntoolkit-0.27-py3.11.egg

# Overrule for github folder
!.github

# Basic test functions for SHASH
tests/test_SHASH.ipynb

# Dist folder
dist/pcntoolkit-0.30.post2-py3.12.egg
dist/*
dist
build/*

# Docs
docs/autoapi/*
docs/_build/*
docs

# Test resources
test/resources
!test/resources/gitkeep
prof/*


examples/resources/*
!examples/resources/gitkeep
# examples/runner_sandbox.py
examples/runner_sandbox.ipynb

# Sphinx documentation
docs/_build/
docs/autoapi/

test/output/*
!test/output/gitkeep

examples/pcntoolkit_resources/data/
!examples/pcntoolkit_resources/data/gitkeep


poetry.lock