[tool.poetry]
name = "pcntoolkit"
version = "0.33.0"
description = "Predictive Clinical Neuroscience Toolkit"
authors = ["Andre Marquand"]
license = "GNU GPLv3"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
bspline = "^0.1.1"             
nibabel = "^5.3.1"              
pymc = "^5.18.0"              
scikit-learn = "^1.5.2"      
six = "^1.16.0"          
scipy = "^1.12"
matplotlib = "^3.9.2"
seaborn = "^0.13.2"
numba = "^0.60.0"
torch = ">=2.1.1"
nutpie = "^0.13.2"


[tool.poetry.group.dev.dependencies]
sphinx-tabs = "^3.4.7"
pytest = "^8.3.3"
ipywidgets = "^8.1.5"
black = "^24.10.0"
ipykernel = "^6.29.5"
sphinx-rtd-theme = "^3.0.2"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[requires-python]
python_version = ">=3.10,<3.13"

[tool.poetry.scripts]
normative = "pcntoolkit.normative:entrypoint"
trendsurf = "pcntoolkit.trendsurf:entrypoint"
normative_parallel = "pcntoolkit.normative_parallel:entrypoint"
