How to install nispat?


Create new environment for instance:

norm_mod


Install the packages below with conda install or pip install

pip
nispat
spyder 
python 
nispat 
pandas 
scipy 
nibabel
sklearn
torch
glob3




How to adapt nispat to your environment?


You have to adapt some routines in normative_parallel.py. Where you have to adapt those scripts is indicated in the scripts. You need to adapt routines for the submission of jobs to your cluster in execute_nm, qsub_nm and bashwrap_nm.
